* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.elemOne {
  border-radius: 20px;
  width: 500px;
  height: 500px;
  background: #43389f;
  background: linear-gradient(to top right, #43389f 0%, #4ec6ca 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.elemOne__number {
  display: inline-block;
  font-size: 150px;
  font-weight: 900;
}
.elemOne__number_one {
  position: relative;
  z-index: 1;
  display: inline-block;
  color: black;
  transform: translateX(50%);
}
.elemOne__number_zero-one {
  position: relative;
  z-index: 2;
  display: inline-block;
  color: rgb(123, 123, 123);
}
.elemOne__number_zero-two {
  position: relative;
  z-index: 3;
  display: inline-block;
  transform: translateX(-20%);
  color: rgb(145, 145, 145);
}
.elemOne__text {
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: 700;
}
.elemOne__text_big {
  margin-top: 10px;
  font-size: 82px;
  line-height: 60px;
  color: white;
  margin-top: 6px;
}
.elemOne__text_small {
  margin-top: 5px;
  color: white;
  font-size: 23px;
  line-height: 20px;
  letter-spacing: 0.04em;
}

.elemTwo {
  border-radius: 20px;
  width: 500px;
  height: 500px;
  background-color: #3FAF82;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.line {
  width: 80px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  transition: transform 3s, opacity 2s;
}

.flex.stage1 .three,
.flex.stage2 .three {
  transform: translateY(120px);
}

.flex.stage1 .one,
.flex.stage2 .one {
  transform: translateY(-120px);
}

.flex.stage2 .two {
  transform: translateY(10px);
  opacity: 0;
}

.flex.stage2 .three {
  transform: translateY(40px) rotate(-45deg);
}

.flex.stage2 .one {
  transform: translateY(-20px) rotate(45deg);
}

.elemThree {
  border-radius: 20px;
  background-color: #E56262;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.elemThree__circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: black;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  animation-name: anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes anim {
  0% {
    width: 120px;
    height: 120px;
  }
  25% {
    width: 200px;
    height: 200px;
  }
  50% {
    width: 110px;
    height: 100px;
  }
  75% {
    width: 30px;
    height: 30px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}

.elemFour__img_border::before {
  position: absolute;
  width: 150px;
  height: 150px;
  margin: -6px;
  border-radius: 50%;
  content: "";
  border: 2px solid rgba(234, 134, 67, 0.3176470588);
  border-left: 2px solid transparent;
  transition: all 1s ease;
}

.elemFour__img_border:hover::before {
  transform: rotate(360deg);
}

.elemFour__img_border::after {
  position: absolute;
  width: 160px;
  height: 160px;
  margin: -12px;
  border-radius: 50%;
  content: "";
  border: 2px solid rgba(118, 53, 4, 0.7843137255);
  border-right: 2px solid transparent;
  transition: all 1s ease;
  left: 0;
}

.elemFour__img_border:hover::after {
  transform: rotate(-360deg);
}

.elemFour {
  border-radius: 20px;
  width: 500px;
  height: 500px;
  background: linear-gradient(45deg, rgb(236, 178, 86), rgb(231, 158, 57) 30%, rgb(202, 132, 2) 60%, rgb(182, 100, 0));
}
.elemFour__img {
  border-radius: 50%;
  position: relative;
  z-index: 1;
}
.elemFour__img_border {
  position: relative;
}
.elemFour__content {
  border-radius: 10px 10px 10px 10px;
  margin: 50px;
  width: 400px;
  height: 400px;
  background-color: rgb(85, 55, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__user {
  width: 250px;
  height: 100%;
}

.content__counter {
  width: 150px;
  height: 100%;
  background-color: #753307;
  border-radius: 0 10px 10px 0;
}
.content__counter :hover {
  background-color: rgba(234, 134, 67, 0.3176470588);
}

.box {
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.value {
  font-size: 30px;
  font-weight: 600;
  color: antiquewhite;
}

.parametr,
.user__family,
.user__profission,
.content__user_message,
.content__user_follow {
  color: antiquewhite;
}

.content__user_message,
.content__user_follow {
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #753307;
  border: 2px solid rgba(198, 89, 17, 0.5215686275);
}

.content__user_message:hover,
.content__user_follow:hover {
  background-color: rgba(225, 125, 59, 0.7647058824);
  border: 2px solid #753307;
}

.content__user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}/*# sourceMappingURL=style.css.map */